# EditorConfig: http://EditorConfig.org
root = true

[*]
charset = utf-8
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.cmd]
end_of_line = crlf

[*.java]
ij_continuation_indent_size = 8
ij_java_class_count_to_use_import_on_demand = 999
ij_java_names_count_to_use_import_on_demand = 999
indent_size = 4
max_line_length = 100
tab_width = 4

# Markdown files sometimes need trailing whitespaces.
[*.md]
trim_trailing_whitespace = false

[*.xml]
indent_size = 4
tab_width = 4

[{*.yaml,*.yml}]
indent_size = 2
tab_width = 2
